
@media (max-width: 1680px) {
 /*Header Block*/
header {
  height: 700px;
}

.container__headline {
  padding-left: 309px;
}

.headline__menu {
  padding-top: 74px;
  padding-bottom: 71px;
}

.menu__items {
  display: flex;
  gap: 45px;
}

/*Aside*/
.container__about {
  padding: 112px 0 100px 570px;
}
/*Main*/
.container__project {
  height: 220px;
  padding-left: 399px;
}
/*works*/
.work__content {
  padding: 100px 0 57px 580px;
}
/*Image*/
.work__image {
  padding: 0 0 100px 305px;
}

/*Footer*/
.info__title {
  padding: 50px 0 20px 306px;
}

.info__text {
  padding-left: 306px;
}

}
@media (max-width: 1440px) {
 /*Header Block*/
 body {
  font-size: 14px;
 }
header {
  height: 500px;
}

.container__headline {
  padding-left: 200px;
}

.headline__menu {
  padding-top: 49px;
  padding-bottom: 40px;
}

.menu__items {
  gap: 35px;
}
.desing__title {
  padding-top: 40px;
  font-size: 40px;
}
.btn {
  padding: 18px 30px;
}
.container__about {
  width: 440px;
  padding: 80px 0 80px 350px;
}
.about__title {
  font-size: 28px;
}
/*Main*/
.container__work {
  height: 750px;
}
.container__project {
  gap: 30px;
  padding: 60px 0;
  height: 200px;
  padding-left: 180px;
}
/*Icons*/
.project__item {
  gap: 5px;
}

.project__item img {
  width: 40px;
  height: 40px;
}

.project__text h3 {
  font-size: 18px;
}
.work__content {
  width: 400px;
  padding: 60px 0 50px 360px;
}
.content__title {
  font-size: 28px;
  padding-bottom: 30px;
}
/*Image*/
.work__image {
  display: flex;
  width: 600px;
  height: 400px;
  padding: 0 0 60px 180px;
}

/*Footer*/
footer {
  height: 120px;
}

.info__title {
  padding: 30px 0 20px 180px;
  font-size: 18px;
}

.info__text {
  padding-left: 180px;
  font-size: 12px;
}

}
@media (max-width: 1280px) {
 /*Header Block*/
 body {
  font-size: 14px;
 }
header {
  height: 500px;
}

.container__headline {
  padding-left: 180px;
}

.headline__menu {
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu__items {
  gap: 30px;
}
/*Desing*/
.desing__title {
  padding-top: 40px;
  font-size: 28px;
}

.desing__text {
  width: 540px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  padding: 15px 30px;
}

/*Aside*/
.container__about {
  padding: 60px 0 60px 280px;
}

.about__title {
  font-size: 28px;
  padding-bottom: 40px;
}

/*Main*/
.container__project {
  gap: 20px;
  padding: 30px 0;
  padding-left: 160px;
}
/*Icons*/
.project__item {
  gap: 5px;
}

.project__item img {
  width: 40px;
  height: 40px;
}

.project__text h3 {
  font-size: 18px;
}

.project__text p {
  font-size: 14px;
}

/*works*/
.work__content {
  width: 540px;
  padding: 60px 0 60px 240px;
}
.container__work {
  height: 600px;
}
.content__title {
  font-size: 28px;
  padding-bottom: 30px;
}
/*Image*/
.work__image {
  display: flex;
  width: 400px;
  height: 300px;
  padding-left: 230px;
}

/*Footer*/
footer {
  height: 90px;
}

.info__title {
  padding: 20px 0 10px 230px;
  font-size: 18px;
}

.info__text {
  padding-left: 230px;
  font-size: 12px;
}
}
@media (max-width: 1024px) {
 /*Header Block*/
header {
  height: 700px;
  background-color: #eeeff1;
}

.container__headline {
  padding-left: 399px;
}

.headline__menu {
  padding-top: 79px;
  padding-bottom: 81px;
}

.menu__items {
  display: flex;
  gap: 45px;
}

.menu__item {
  letter-spacing: 1.6px;
}

.menu__item a {
  color: black;
  text-decoration: none;
}

.menu__item a:hover {
  color: #34547a;
  font-weight: 500;
}
}
@media (max-width: 768px) {
 /*Header Block*/
header {
  height: 700px;
  background-color: #eeeff1;
}

.container__headline {
  padding-left: 399px;
}

.headline__menu {
  padding-top: 79px;
  padding-bottom: 81px;
}

.menu__items {
  display: flex;
  gap: 45px;
}

.menu__item {
  letter-spacing: 1.6px;
}

.menu__item a {
  color: black;
  text-decoration: none;
}

.menu__item a:hover {
  color: #34547a;
  font-weight: 500;
}
}
 @media (max-width: 375px) {
 /*Header Block*/
header {
  height: 700px;
  background-color: #eeeff1;
}

.container__headline {
  padding-left: 399px;
}

.headline__menu {
  padding-top: 79px;
  padding-bottom: 81px;
}

.menu__items {
  display: flex;
  gap: 45px;
}

.menu__item {
  letter-spacing: 1.6px;
}

.menu__item a {
  color: black;
  text-decoration: none;
}

.menu__item a:hover {
  color: #34547a;
  font-weight: 500;
}
}