@media (max-width: 1680px) {
  .info__title {
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .info__text {
    padding-bottom: 40px;
  }
}

@media (max-width: 1440px) {

  /*Header Block*/
  .container__headline {
    padding-left: 15%;
  }

  .headline__menu {
    padding-top: 60px;
  }

  .menu__items {
    display: flex;
    gap: 35px;
  }

  /*Desing*/
  .desing__title {
    padding-top: 100px;
  }

  .desing__text {
    padding-bottom: 60px;
  }

  .btn {
    margin-bottom: 80px;
  }

  /*Aside*/
  .container__about {
    height: auto;
    padding: 80px 0 80px;
  }

  /*Main*/
  .container__project {
    padding: 80px 0;
  }

  /*Icons*/
  .project__item img {
    width: 40px;
    height: 40px;
  }

  .project__text h3 {
    font-size: 18px;
  }

  /*works*/
  .container__work {
    height: auto;
  }

  .work__content {
    padding: 80px 0 57px;
  }

  .content__title {
    padding-bottom: 40px;
  }

  /*Image*/
  .work__image {
    padding-bottom: 80px;
  }
}

@media (max-width: 1200px) {

  /*Body settings*/
  body {
    font-size: 14px;
  }

  /*Header Block*/
  .container__headline {
    padding-left: 15%;
  }

  .headline__menu {
    padding-top: 50px;
  }

  .menu__items {
    gap: 30px;
  }

  /*Desing*/
  .desing__title {
    padding-top: 100px;
    font-size: 40px;
  }

  .desing__text {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .btn {
    padding: 15px 30px;
    margin-bottom: 80px;
  }

  /*Aside*/
  .container__about {
    height: auto;
    padding: 80px 0 80px;
  }

  .about__title {
    font-size: 30px;
    padding-bottom: 40px;
  }

  /*Main*/
  .container__project {
    gap: 30px;
    padding: 80px 0;
  }

  /*Icons*/
  .project__item {
    gap: 8px;
  }

  .project__item img {
    width: 40px;
    height: 40px;
  }

  .project__text h3 {
    font-size: 20px;
  }

  .project__text p {
    font-size: 14px;
  }

  /*works*/
  .work__content {
    padding: 80px 0 40px;
  }

  .content__title {
    font-size: 30px;
    padding-bottom: 40px;
  }

  /*Image*/
  .work__image {
    padding-bottom: 80px;
  }


  /*Footer*/
  .info__title {
    padding: 30px 0 15px 15%;
    font-size: 20px;
  }

  .info__text {
    padding-left: 15%;
    padding-bottom: 30px;
  }
}

@media (max-width: 1024px) {

  /*Body settings*/
  body {
    font-size: 14px;
  }

  /*Header Block*/
  .container__headline {
    width: 50%;
    padding-left: 10%;
  }

  .headline__menu {
    padding-top: 40px;
  }

  .menu__items {
    gap: 25px;
  }

  .menu__item {
    letter-spacing: 1.4px;
  }

  /*Desing*/
  .desing__title {
    padding-top: 100px;
    font-size: 32px;
  }

  .desing__text {
    width: 540px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .btn {
    padding: 15px 30px;
    letter-spacing: 1.4px;
    margin-bottom: 80px;
  }

  /*Aside*/
  .container__about {
    height: auto;
    padding: 60px 0 60px;
  }

  .about__title {
    font-size: 28px;
    padding-bottom: 30px;
  }

  /*Main*/
  .container__project {
    gap: 25px;
    padding: 60px 0;
  }

  /*Icons*/
  .project__item {
    gap: 5px;
  }

  .project__item img {
    width: 40px;
    height: 40px;
  }

  .project__text h3 {
    font-size: 18px;
  }

  .project__text p {
    font-size: 14px;
  }

  /*works*/
  .work__content {
    padding: 60px 0 40px;
  }

  .content__title {
    font-size: 28px;
    padding-bottom: 30px;
  }

  /*Image*/
  .work__image {
    padding-bottom: 60px;
  }


  /*Footer*/
  .info__title {
    padding: 20px 0 10px 15%;
    font-size: 16px;
  }

  .info__text {
    font-size: 12px;
    padding-left: 15%;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {

  /*Body settings*/
  body {
    font-size: 14px;
    line-height: 124%;
  }

  /*Header Block*/

  .container__headline {
    padding-left: 10%;
  }

  .headline__menu {
    padding-top: 20px;
  }

  .menu__items {
    gap: 5px;
  }

  .menu__item {
    font-size: 14px;
    letter-spacing: 0;
  }


  /*Desing*/
  .desing__title {
    padding-top: 60px;
    font-size: 24px;
  }

  .desing__text {
    width: 100%;
    padding: 30px 10px 30px 0;
  }

  .btn {
    padding: 10px 20px;
    letter-spacing: 1.2px;
    margin-bottom: 60px;
  }

  /*Aside*/
  .container__about {
    width: 90%;
    height: auto;
  }

  .about__title {
    font-size: 20px;
    padding-bottom: 30px;
  }

  /*Main*/
  .container__project {
    gap: 20px;
    padding: 50px 0;
  }

  /*Icons*/
  .project__item {
    gap: 5px;
  }

  .project__item img {
    width: 25px;
    height: 25px;
  }

  .project__text h3 {
    font-size: 14px;
  }

  .project__text p {
    font-size: 12px;
  }

  /*works*/
  .work__content {
    width: 90%;
    padding: 50px 0 30px;
  }

  .content__title {
    font-size: 20px;
    padding-bottom: 30px;
  }

  /*Image*/
  .work__image {
    padding-bottom: 50px;
  }

  .work__image img {
    width: 80%;
  }

  /*Footer*/

  .info__title {
    padding: 10px 0 10px 10%;
    font-size: 14px;
  }

  .info__text {
    font-size: 12px;
    padding-left: 10%;
    padding-bottom: 10px;
  }
}

@media (max-width: 375px) {

  /*Body settings*/
  body {
    font-size: 10px;
    line-height: 100%;
  }

  /*Header Block*/
  .container__headline {
    width: 90%;
    padding-left: 5%;
  }

  .headline__menu {
    padding-top: 10px;
  }

  .menu__items {
    flex-direction: column;
    gap: 5px;
  }

  .menu__item {
    font-size: 10px;
    letter-spacing: 1px;
  }

  /*Desing*/
  .desing__title {
    padding-top: 30px;
    font-size: 18px;
  }

  .desing__text {
    ;
    padding: 30px 0;
  }

  .btn {
    padding: 8px 15px;
    letter-spacing: 1px;
    font-size: 10px;
    margin-bottom: 20px;
  }

  /*Aside*/
  .container__about {
    width: 90%;
    height: auto;
    padding: 30px 0;
  }

  .about__title {
    font-size: 16px;
    padding-bottom: 20px;
  }

  /*Main*/
  .container__project {
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
  }

  /*Icons*/
  .project__item {
    gap: 10px;
  }

  .project__item img {
    width: 30px;
    height: 30px;
  }

  .project__text h3 {
    font-size: 12px;
    font-weight: 500;
  }

  /*works*/

  .work__content {
    width: 90%;
    padding: 30px 0 20px;
  }

  .content__title {
    font-size: 16px;
    padding-bottom: 20px;
  }

  /*Image*/
  .work__image {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .work__image img {
    width: 80%;
  }

  /*Footer*/
  footer {
    height: auto;
    background-color: #34547a;
  }

  .info__title {
    padding: 10px 0 10px 5%;
    font-size: 12px;
  }

  .info__text {
    font-size: 10px;
    padding-left: 5%;
    padding-bottom: 10px;
  }
}